/*Home NavBar Hover*/
#index {
  font-size: 30px;
  font-weight: bold;

  padding: 0px 10px 5px 10px;
  font-family: "Rancho", cursive;
}

/* Home Navbar Cursor */
#projectsX1 {
  font-size: 20px;
}

#projectsX1:hover {
  color: #699212;
}

#gamesX1 {
  font-size: 20px;
}

#gamesX1:hover {
  color: #699212;
}

#contactX1 {
  font-size: 20px;
}

#contactX1:hover {
  color: #699212;
}

#alquranX1 {
  font-size: 20px;
}

#alquranX1:hover {
  color: #699212;
}

/*End Home Navbar Cursor */

#contact {
  color: black;
  background-color: #ffd34f;
  font-weight: bold;
}

/*NavBar Game Icon*/
#games {
  color: purple;
  font-weight: bold;
  background: #ffc107;

  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}

/*Al-Qur'an Text Nav Hover*/
#alquran {
  font-weight: bold;
  background: white;
  color: black;

  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}